@use 'variaveis';

.spaces {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 20px;
        }

        &__button {
            color: variaveis.$secondTextColor;
            font-size: 20px;
            border: none;
            border-bottom: 5px solid transparent;
            padding: 8px 16px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            transition: border-color 0.3s ease;
            border-radius: 0;

            &:focus {
                outline: none;
            }

            // Seletor mais específico para o estado ativo
            &--active {
                border-color: variaveis.$secondTextColor;
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }

            &.button {
                width: auto;
                height: auto;
                font-size: 20px;
                color: variaveis.$secondTextColor;
                background-color: transparent;
                text-transform: uppercase;
                border-radius: 0;
                margin: 0;
                padding: 8px 16px;
            }
        }
    }

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            aspect-ratio: 16 / 9;
            overflow: hidden;
            border-radius: 4px;
            display: block;
            position: relative;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                display: block;
            }
        }
    }

    // Torne o seletor mais específico
    &__list--active {
        display: grid;
    }
}