$bgColor:#040714;
$mainTextColor:silver;
$secondTextColor:#f9f9f9;
$mainButtonColor:#1e8106;
$secondButtonColor: #1dca34;
$thirdButtonColor:#b90075;
$fourthButtonColor: #ff00a2;
$darkButtonColor: rgb(0, 0, 0, 0.8);